.facts {
  padding: 0 rem(24);
}

.facts__heading {
  color: $gray-200;
  font-family: 'Helvetica Neue Bold';
  font-size: rem(32);
  line-height: rem(32);
  text-align: center;
  margin-bottom: 51px;
}

.fact {
  max-width: em(750);
  margin: 0 auto;
  padding: 0 rem(40);
  &__desc {
    margin-left: rem(122);
    font-size: rem(13);
  }
  &__heading {
    font-family: 'Helvetica Neue';
    font-size: rem(20);
    line-height: rem(24);
  }
}

.facts .box {
  margin-left: rem(-24);
  margin-right: rem(-24);
  padding-left: rem(24);
  padding-right: rem(24);
}