.footer {
  background: $red;
  color: $white;
  padding: rem(36) 0;
  &__video {
    max-width: rem(480);
    margin: 0 auto rem(48);
    .video__container {
      padding-bottom: 56%;
    }
  }
  &__copy {
    text-align: center;
  }
}

.footer__copy {
  img {
    width: 57px;
    height: 9px;
  }
}
