.header {
  position: relative;
  margin-bottom: 45px;
}

.header-cover {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  &:before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 466 / 1285 * 100%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 100%;
      width: 20%;
    }
    &:after {
      position: absolute;
      background: url('~assets/header-box-shadow.png');
      bottom: 0;
      left: 0;
      content: '';
      height: 127px;
      width: 100%;
      z-index: -1;
    }
  }
}

.header-cover-content {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.25em;
  &__title {
    font-family: "Helvetica Neue";
    font-size: rem(32);
    line-height: rem(32);
    color: $white;
    margin-top: 64px;
    text-transform: capitalize;
  }
  &__meta {
    position: absolute;
    bottom: 20px;
    color: $white;
  }
  &__social {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}

// Media queries
.header-cover:before {
  @media (max-width: 960px) {
    padding-top: 56%;
  }
  @media (max-width: 640px) {
    padding-top: 100%;
  }
}