.icon { 
  background: url('~assets/sprite.png') no-repeat top left; 
  width: 16px; 
  height: 16px;
  display: inline-block;
  vertical-align: middle; 
} 
.icon_arrow-left { background-position: 0 0; height: 26px; } 
.icon_arrow-right { background-position: 0 -36px; height: 26px; } 
.icon_fb { background-position: 0 -72px; } 
.icon_gp { background-position: 0 -98px; } 
.icon_tw { background-position: 0 -124px; } 
.icon_view { background-position: 0 -150px; height: 10px; } 

