@import url('https://fonts.googleapis.com/css?family=PT+Serif');

@font-face {
  font-family: 'Helvetica Neue';
  src: url('~fonts/HelveticaNeue.eot');
  src: url('~fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url('~fonts/HelveticaNeue.woff2') format('woff2'),
      url('~fonts/HelveticaNeue.woff') format('woff'),
      url('~fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('~fonts/HelveticaNeue-Bold.eot');
  src: url('~fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('~fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('~fonts/HelveticaNeue-Bold.woff') format('woff'),
      url('~fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import "./normalize.scss";

@import "./variables.scss";
@import "./functions.scss";

@import "./header.scss";
@import "./social.scss";
@import "./meta.scss";
@import "./fact.scss";
@import "./list.scss";
@import "./icons.scss";
@import "./box.scss";
@import "./info.scss";
@import "./heading.scss";
@import "./blockquote.scss";
@import "./footer.scss";

html {
  font-size: 1rem;
  font-family: "PT Serif", serif;
  font-weight: 400;
}

body {
  font-size: rem(13);
  line-height: rem(17);
  @media (max-width: 960px) {
    font-size: rem(14)
  }
  @media (max-width: 640px) {
    font-size: rem(16)
  }
}

img {
  max-width: 100%;
  height: auto;
}