.list__item_box {
  background: $red;
  padding: rem(20) 0; 
}

.list_num {
  counter-reset: counter;
}

.list__item {
  margin-bottom: rem(56);
}

.list__item_num .heading__num {
  font-family: 'Helvetica Neue';
  font-size: rem(32);
  line-height: rem(24);
  color: $red;
  width: rem(85);
  margin-left: rem(-95);
  float: left;
  &:before {
    font-family: 'Helvetica Neue Bold';
    position: absolute;
    content: counter(counter);
    counter-increment: counter -1;
    font-size: rem(102);
    color: $gray-100;
    left: rem(-10);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}
