@import "./variables.scss";
@import "./functions.scss";

.slider {
  position: relative;
  padding: 0 14%;
  &-wrapper {
    overflow: hidden;
    margin: 0 auto 24px;
  }
  &-list {
    position: relative;
    left: 0;
    transition: left 400ms ease;
    &__item {
      float: left;
    }
  }
  &-arrows {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    &__left,
    &__right {
      cursor: pointer;
    }
    &__left {
      float: left;
    } 
    &__right {
      float: right;
    }
  }
}