.social {
  background: $red;
  &__link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $white;    
    width: 30px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-align: center;
  }
}